site_name: Lucy and Alistair's Recipes

theme:
  name: material
  palette:
    - scheme: default
      primary: brown
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - scheme: slate
      primary: brown
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - navigation.sections
    - navigation.expand
    - search.highlight
    - search.suggest

plugins:
  - search
  - awesome-pages

extra_css:
  - stylesheets/extra.css
